*.tar.*
*.fastq.*
*.config
*.simg
*.gaf
*.genepred
03_map_rna/filestems.txt
03_map_rna/SNPmer/*
03_map_rna/mapped_reads/*
03_map_rna/reference_genome/*
03_map_rna/globalIndex/*
03_map_rna/localIndex/*
03_map_rna/SNPmerIndex/*
03_map_rna/SNPs/*
*slurm*.out
