*.tar.*
*.fastq.*
*.config
*.simg
*.gaf
*.genepred
*.vcf
*.vcf.gz
*.het
*.rds
*.RDS
*.fasta
*.gds
*.tbi
*.gwas
*.bam
*.bam.bai
*.glm
*.readcounts.gz
*.gtf
*.svg
*.gz
*.tab
*.dat
*.png
01_reconstructions/etc/*
02_gwas/permutations/*.gwas.gz
03_map_rna/filestems.txt
03_map_rna/SNPmer/*
03_map_rna/mapped_reads_iMapSplice/*
03_map_rna/mapped_reads_RSubRead/*
03_map_rna/reference_genome/*
03_map_rna/globalIndex/*
03_map_rna/localIndex/*
03_map_rna/SNPmerIndex/*
03_map_rna/SNPs/*
04_expression_analysis/DE/*
*slurm*.out
